#root {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: radial-gradient(orange, yellow);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.searchArea{
  display: flex;
  flex-direction: column;
  background-color: black ;
  width: 40rem;
  margin: auto;
  height: auto;
  border-radius: 1rem;
}
.imageContainer{
  display: grid;
  width: auto;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem 4rem;
  margin: 4rem auto 0rem auto;
  /* margin-right: auto; */
  /* width: 50vw; */
  padding: 3rem;
  border-radius: 1rem;
  background: radial-gradient(circle, #001f3f, #00072d);
}
.imagecards{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 280px;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.3s ease;

}
.imagecards:hover{
transform: perspective(1000px) rotateY(20deg);
cursor: pointer;}


@media (max-width: 768px) {
  .imageContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .imageContainer {
    grid-template-columns: 1fr;
   justify-content: center; 
  }
  .imagecards{
    width: auto;
    height: auto;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

